@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")">

            <!-- Optional theme -->
        <link rel="stylesheet" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap-theme.min.css")">

            <!-- Latest compiled and minified JavaScript -->
        <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.js")"></script>
        <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>

        <header>
            <a href="@routes.Application.index()">
                <h1>Your prismic.io project</h1>
            </a>
        </header>

        @content

    </body>
</html>